<?xml version="1.0"?>
<launch>
<!-- SIM STUFF -->
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf"/>
  <arg name="rvizconfig" default="$(find car_demo)/rviz/demo.rviz" />

  <param name="robot_description" textfile="$(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="false"/>
    <arg name="world_name" value="/tmp/workspace/src/citysim/worlds/simple_city.world"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <!-- <remap from="robot_description" to="different_robot_description" /> -->
    <!-- <remap from="joint_states" to="/prius/joint_states" /> -->
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y -0 -z 0.5 -model prius"/>

  <!--CONTROL/MP NODES-->
  <node pkg="prius_controller" type="prius_controller_node" name="prius_controller" output="screen"/>

</launch>
